body{ 
    background-color: #f4f4f4;
    font-family: 'Exo', sans-serif;
}

header{ 
    background-image: url("images/symbol.png");
    background-size: contain;
    background-position: -40px 130px; /* 30px is for the left or right, 130px is down or up */
    background-color: #0e04f8;
    padding: 20px;
    margin: -8px;
    text-align: center; 
}

h1{ 
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 50px;
    padding-top: 5px;    
}

a:link{ 
    font-family: 'Righteous', cursive;
    font-size: 18px;
    color: white;
}

a:visited{
    color:black;
}

a:hover{ 
    color: aquamarine;
}

img {
    max-width: 1521px;
    margin-top: 8px;
    margin-left: -10px;
    background-size: cover;
   }
.words{ 
    background-color: #0e04f8;
    padding: 100px;
    margin: -8px;
    text-align: center; 
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: white;
}

legend {
    background-color: black;
    color: white;
    padding: 3px 6px;
}

fieldset{
    border-color: #0e04f8;
    border-width: 3px;
    margin-top: 20px;

}

button{
background: #0e04f8;
 color:white;
 font-family: 'Exo';
 font-weight: bold;
 font-size: 17px;
}





p { 
    color: blue;
}

/* header color #0035dc. background color darker white #f4f4f4  light white #fbfbfb